@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700;800&display=swap");

/* header */
.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

/* Navbar styles */
.navbar-nav {
  margin: 0 auto;
}

.nav-link {
  text-decoration: underline;
  color: white;
}

.navbar-toggler {
  margin-top: 20px;
}
.nav-link:hover {
  color: #ff3b83;
}

/* Github Link styles */
#githubLink {
  background-color: #333;
  border: white 1px solid;
}

#githubLink:hover {
  background-color: #44cc77;
  border: #333 1px solid;
  color: #333;
}

/* Card styles */
.card-body {
  position: relative;
}
/*
.card-body:hover {
  transition: 0.5s;
  transition-duration: 0.5s;
  background-color: #ff3b83;
}*/

#linkedin:hover,
#github:hover {
  color: #ff3b83;
}

/* Media Queries */

@media (min-width: 768px) {
  /* Header styles */
  .header {
    height: 100px;
  }
  .header h1 {
    padding-top: 25px;
    font-size: 2rem;
  }

  /* Navbar styles */
  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    padding: 10px 0;
  }
}

/* Styles for smaller screens (mobile) */
@media (max-width: 767px) {
  /* Header styles */
  .header {
    height: 150px;
  }
  .header h1 {
    padding-top: 50px;
    font-size: 2rem;
  }

  .nav-item {
    padding: 10px 0;
  }
}
